.GameSlot{
    -fx-background-color: #B2BEB5;
    -fx-padding: 15 15 15 15;
    -fx-spacing: 10;
    -fx-border-color: black;
    -fx-border-insets: 5;
    -fx-border-width: 3;
}

.vbox{
    -fx-padding: 15 15 15 15;
    -fx-spacing: 10;
    -fx-border-color: black;
    -fx-border-insets: 5;
    -fx-border-width: 3;
}

.label{

}